
.items-list span{
    /* color: #61dbfb; */
}
.items-list span:hover{
    /* color: #61dbfb; */
    border-bottom: 1px solid #61dbfb;
    transition: border 0.2s ease-in-out;
}

#navigation a{
    color: #61dbfb66  !important;
}

#navigation a:hover{
    color: #61dbfb !important;
}

